body {
	font-family: 'Helvetica', sans-serif;
	text-align: center;
	padding: 20px;
	background-size: 1450px 850px;
	background-color: #E7EEF8;
}

.button {
	margin: 10px auto;
	background-color: rgb(74, 145, 247);
	width: 30%;
	padding: 8px;
	color: white;
	font-weight: 200;
}


.topnav {
	background-color: white;
	margin-top: -28px;
	margin-bottom: 50px;
	margin-left: -25px;
	margin-right: -25px;
	background-color: white;
	padding: 50px;
}

.topnav a {
	float: left;
	text-align: center;
	padding-left: 4%;
	text-decoration: none;
	background-color: white;
	padding-top: -20px;
	margin-top: -50px;
	vertical-align: bottom;

}

#send {
	position: relative;
	bottom: 5%;
	left: -20%;
	display: inline-block;
	min-width: 150px;
}
#view {
	position: relative;
	bottom: 5%;
	right: 15%;
	display: inline-block;
	min-width: 150px;
}

#log{
	width: 100%;
	margin-top: 30px;
}

.button:hover {
	background-color:#E7EEF8;
}

.move{
	margin-top: 15px;
}
#banner{
	margin-left:-50px;
	margin-right:70px;
}

.row{
	margin: -50px;

}

.column {
  float: left;
}

#left {
	width: 25%;
	background-color: #B6D3FD;
	padding: 20px;
	margin-left: 20px;
	line-height: 50px;
	text-align: left;
}

#right {
  width: 75%;
}

span{
	position: relative;
	font-size: 20px;
}

.names {
    display: inline;
}

.yes {
    border: solid;
}

.profile {
  width: 95%;
  height: 70px;
  padding: 5px;
  margin-top:0px;
}
.icon {
  float: left;
  border-radius:50%;
  width:65px;
  padding-right:20px;
}
.Name{
  position:relative;
  top:30%;
  font-size: 20px;
}
#ch {
  font-style: normal;
  font-size: 23px;
}


#right {
  margin-left: 15%;
  height:100%;
  background: white;
}
#icon2 {
  float: left;
  border-radius:50%;
  width:65px;
  padding-right:20px;
}
#chatmsg {
  position:relative;
  top:30px;
  left:30px;
  padding-bottom:20px;
}
#msg{
  margin-left: 19%;
  position:relative;
  top:10px;
  font-size: 20px;
  width:280px;
  padding:12px;
  border-radius:15px;
  background-color:rgb(74, 145, 247);
  color:white;
}
#hihi {
  width:75px;
  padding-left:5px;
  padding-right:5px;
}
#hihi2 {
  width:75px;
  padding-left:5px;
  padding-right:5px;
  position:relative;
  left:-0%;
}
.chat{
  padding:10px;
  position:fixed;
  bottom:0px;
  margin-left:9.7%;
  width:100%;
}
input[type="txt"]{
  position:relative;
  bottom:26.5px;
  padding: 12px 37.5px;
  box-sizing: border-box;
  border-style: solid;
  border-color: rgba(61,61,61,1);
  color:rgba(61,61,61,1)
  border-width: 2px;
  font-size:20px;
  height:70px;
  width:53%;
}
