body {
	font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	text-align: left;
	background-color: rgb(182, 211, 253);
}

.topnav {
	background-color: white;
	padding: 60px;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
}

.topnav a {
	float: left;
	text-align: center;
	text-decoration: none;
	background-color: white;
	padding-top: -20px;
	margin-top: -50px;
	vertical-align: bottom;

}

.button {
	margin: 10px auto;
	background-color: rgb(74, 145, 247);
	width: 30%;
	padding: 8px;
	color: white;
	font-weight: 200;
}

.button:hover {
	background-color:#E7EEF8;
}



.fields {
	background-color: white;
	width: 50%;
	margin: auto;
	padding: 40px 60px;
	position:relative;
	top:30px;
	max-width: 600px;
}

input[type=text]{
	font-size: 18px;
	width: 50%;
	padding: 3px 3px;
	margin: 8px 0;
	box-sizing: border-box;
	border-style: solid;
	border-color: rgba(61,61,61,1);
	border-width: 1px;
  }

  input[type=date]{
	font-size: 18px;
	width: 50%;
	padding: 3px 3px;
	margin: 8px 0;
	box-sizing: border-box;
	border-style: solid;
	border-color: rgba(61,61,61,1);
	border-width: 1px;
	font-family: 'Helvetica', sans-serif;
	text-align: left;
  }

input[type=submit]{
	font-size: 20px;
	width: 25%;
	padding: 12px 20px;
	color: white;
	background-color:  rgb(74, 145, 247);
	border-width: 0px;
}


span.logout{
	font-size: 20px;
	width: 25%;
	padding: 12px 20px;
	color: white;
	background-color:  rgb(74, 145, 247);
	border-width: 0px;
	text-align: center;
	position:relative;
	top: -30px;
}
#log {
	width: 100%;
	margin-top: 30px;
}

.button:hover {
	background-color: #E7EEF8;
}

.move {
	margin-top: 15px;
}

#banner {
	margin-left: -50px;
	margin-right: 70px;
}
#home{
	position: absolute;
	right:45%;
}

