* {
	margin: 0;
  }

body {
	font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	text-align: left;
	background-color: rgb(182, 211, 253);
	background-image: url(../static/background2.jpeg);
	background-size: 1450px 850px;
}

img {
	height:  100px;
}

.home {
	height:75%;
}

.topbar {
	background-color: white;
	height:101px;
}

header {
	color: rgb(74, 145, 247);
	font-size: 40px;
	font-weight: 600;
}


.fields {
	background-color: white;
	width: 50%;
	margin: auto;
	padding: 20px;
	position:relative;
	top:50px;
}

input[type=text]{
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-style: solid;
	border-color: rgba(61,61,61,1);
	border-width: 1px;
	border-radius: 5px;
  }

input[type=submit]{
	font-size: 20px;
	width: 25%;
	padding: 12px 20px;
	color: white;
	background-color:  rgb(74, 145, 247);
	border-width: 0px;
}

span.logout{
	font-size: 20px;
	width: 25%;
	padding: 12px 20px;
	color: white;
	background-color:  rgb(74, 145, 247);
	border-width: 0px;
	text-align: center;
	position:relative;
	top: -30px;
}


