<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hack Duke" />
    <meta name="description" content="Increasing the quality of life for the elderly." />
    <meta name="keywords" content="health, quality of life, elderly" />
    <link rel="stylesheet" type="text/css" href="../static/home.css" />
    <title> Heal Together </title>
</head>
<body>
    <script>
        function toggleButtonOn(button) {
            switch (button) {
                case 'home':
                    document.getElementById("home").src = "../static/homeclick.png";
                    break;
                case 'plus':
                    document.getElementById("plus").src = "../static/plusclick.png";
                    break;
                case 'chat':
                    document.getElementById("chat").src = "../static/chatclick.png";
                    break;
                case 'person':
                    document.getElementById("person").src = "../static/personclick.png";

            }
        }

        function toggleButtonOff(button) {
            switch (button) {
                case 'home':
                    document.getElementById("home").src = "../static/home.png";
                    break;
                case 'plus':
                    document.getElementById("plus").src = "../static/plus.png";
                    break;
                case 'chat':
                    document.getElementById("chat").src = "../static/chat.png";
                    break;
                case 'person':
                    document.getElementById("person").src = "../static/person.png";

            }
        }
        function redirectRegis() {
            window.location.replace("{{url_for('submit_page')}}");
        }
        function redirectLogin() {
            window.location.replace("{{url_for('login_page')}}");
        }
    </script>
    <div class="topnav">
        <a><img src="../static/banner.png" id="banner" onmouseover="toggleButtonOn(id)" /></a>
        <a><img src="../static/home.png" id="home" onmouseover="toggleButtonOn(id)" onmouseout="toggleButtonOff(id)" onclick="redirectLogin()" width=90 class="move" /></a>
        <a><img src="../static/plus.png" id="plus" onmouseover="toggleButtonOn(id)" onmouseout="toggleButtonOff(id)" onclick="redirectLogin()" width=90 class="move" /></a>
        <a><img src="../static/chat.png" id="chat" onmouseover="toggleButtonOn(id)" onmouseout="toggleButtonOff(id)" onclick="redirectLogin()" width=80 class="move" /></a>
        <a><img src="../static/person.png" id="person" onmouseover="toggleButtonOn(id)" onmouseout="toggleButtonOff(id)" onclick="redirectLogin()" width=90 class="move" /></a>
        <a> <h3 class="button" id="log" onclick="redirectLogin()"> Log In </h3> </a>
    </div>

    <div>
        <img src="../static/elderly.png" id="pic" />
        <div>
            <h1 id="head"> Let's heal together. </h1>
            <h2 id="descrip"> A social network for people during <br />and after treatment</h2>
            <h3 class="button" id="join" onclick="redirectRegis()">Join us</h3>
        </div>
    </div>

    <div class="row">
        <div class="column"> "Great platform to foster a community! Heal together helped me through the hardest period of my life." <br /> <br />-Margaret V. <br /> Lung Cancer, Depression</div>
        <div class="column"> "Amazing! I love reading about other people's stories. This platform helped me get support during the pandemic." <br /> <br /> -Kenneth C. <br /> COPD, Heart Disease</div>
        <div class="column"> "Highly recommend this to anyone dealing with any condition! Great way to share experiences and keep motivated." <br /> <br /> -Sharon D. <br /> COVID-19, Kidney Disease</div>
    </div>

</body>
</html>
