<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hack Duke" />
    <meta name="description" content="Increasing the quality of life for the elderly." />
    <meta name="keywords" content="health, quality of life, elderly" />
    <link rel="stylesheet" type="text/css" href="../static/match.css" />
    <title> Heal Together </title>
</head>
<body>
     {% for row in rows %}
            {{row["name"]}}
            {{row["email"]}}
            {{row["pwd"]}}
    {% endfor %}
    
</body>
</html>