<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hack Duke" />
    <meta name="description" content="Increasing the quality of life for the elderly." />
    <meta name="keywords" content="health, quality of life, elderly" />
    <link rel="stylesheet" type="text/css" href="../static/match.css" />
    <title> Heal Together </title>
</head>
<body>
    <div class="profile">
        <h3 id="msg"> You've been matched!</h3>
        <div>
        </div>
        <h1> Samantha R. </h1>
        <h2> Liver cancer survivor, Mother of twins </h2>
        <h3 id="home">Send a message</h3>
    </div>
    
</body>
</html>