<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hack Duke" />
    <meta name="description" content="Increasing the quality of life for the elderly." />
    <link rel="stylesheet" type="text/css" href="../static/registration.css" />
    <meta name="keywords" content="health, quality of life, elderly" />
    <title> Heal Together </title>
</head>
<body>
    <script>
        function check(input) {

            var checkboxes = document.getElementsByClassName("radioCheck");

            for (var i = 0; i < checkboxes.length; i++) {
                //uncheck all
                if (checkboxes[i].checked == true) {
                    checkboxes[i].checked = false;
                }
            }

            //set checked of clicked object
            if (input.checked == true) {
                input.checked = false;
            }
            else {
                input.checked = true;
            }
        }
    </script>
    <h3> Let's heal together. </h3>
    <div class="fields">
        <form action="#" id="submissionForm" method="post" enctype="multipart/form-data" onsubmit="return confirm('Do you really want to submit the form?');">
            <div class="fields">
                <label for="name"> What's your name? <span style="color:red"> * </span><br /></label>
                <input type="text" name="name" class="input" required />
            </div>
            <div class="fields">
                <label for="dob"> Date of Birth <span style="color:red"> * </span><br /> </label>
                <input type="text" name="dob" class="input" required />
            </div>
            <div class="fields">
                <label for="diagnosis"> Diagnosis <span style="color:red"> * </span><br /> </label>
                <input type="text" name="diagnosis" class="input" required />
            </div>
            <div class="fields">
                <label for="purpose"> What are you looking for? (select multiple) <span style="color:red"> * </span><br /> </label>
                <input type="checkbox" name="purpose" value="support">
                <label for="support"> Support </label><br>
                <input type="checkbox" name="purpose" value="companionship">
                <label for="companionship"> Companionship </label><br>
                <input type="checkbox" name="purpose" value="motivation">
                <label for="motivation"> Motivation </label><br>
                <input type="checkbox" name="purpose" value="others with similar experiences">
                <label for="others"> Others with Similar Experiences </label><br><br>
            </div>
            <div class="fields">
                <label for="contact"> Who would you like as a first link? <span style="color:red"> * </span><br /> </label>
                <input type="checkbox" class="radioCheck" name="contact" onclick="check(this);" value="survivor/volunteer, 1 on 1">
                <label for="surv/vol"> Survivor/Volunteer, 1 on 1 </label><br>
                <input type="checkbox" class="radioCheck" name="contact" onclick="check(this);" value="other">
                <label for="companionship"> Other Patient, 1 on 1 </label><br>
                <input type="checkbox" class="radioCheck" name="contact" onclick="check(this);" value="group">
                <label for="group"> Group Support </label><br><br />
            </div>
            <div>
                <label for="img">Select your profile picture </label> <br />
                <input type="file" name="profilePic" id="upload" accept="image/*"> <br />
            </div>
            <input type="submit" value="Submit" id="enter" />
        </form>

    </div>

</body>
</html>